{% extends 'base.html' %}
{% block content %}
<h2>Student Data</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Roll Number</th>
            <th>Email</th>
            <th>Profile Image</th>
        </tr>
    </thead>
    <tbody>
        {% for student in data %}
        <tr>
            <td>{{ student.full_name }}</td>
            <td>{{ student.roll_number }}</td>
            <td>{{ student.email }}</td>
            <td><img src="{{ student.profile_image.url }}" alt="Profile Image" width="50"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
